      table, th, td {

border-width: 1px;

border-style: solid;

}

table {
margin-top: 20px;
margin-left: 20px;
}

.month {
background-color: #1abc9c;
}

th {
padding: 20px;
}

td {
padding: 20px;
}

.prev{
background-color: #c1c1c1;
}

.next{
background-color: #c1c1c1;
}

.next:hover{
cursor: pointer;
}

.prev:hover{
cursor: pointer;
}

.dates{
background-color: #c1c1c1;
text-align: center;
}

.days{
background-color: #dddddd;
}

#adoption {
display: none;
height: 400px;
width: 400px;
position: absolute;
left: 45%;
top: 260%;
background-color: #8bacc6;
border: 1px solid;
padding: 5px;
box-shadow: 5px 10px #888888;
} 

#Event1:hover #stuff{
display: block;
}

#stuff {
display: none;
height: 400px;
width: 400px;
position: absolute;
left: 45%;
top: 260%;
background-color: #8bacc6;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #888888;
}

@media screen and (max-width:720px) {
  #adoption, #stuff {margin-left: -20%;}
}

#Event2:hover #adoption{
display: block;
}